*{
	font-size: 20px;
	font-family: "微软雅黑";
}
.container,.container .textarea{
	width: 960px;
}
.container .text{
	width: 856px;
	margin-left: 20px;
	text-align: center;
}
.container{
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
}
.container .title,.container .sort,.container .submit{
	width: 920px;
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
}
.container .title{
background-image:url(../images/topics-1-background.png);
margin-bottom: 0px;

}
.container .textarea{

	height: 600px;
	overflow: scroll;
}
.container .left,.container .right{
	line-height: 40px;
}
.container .left{
	float: left;
}
.container .right{
	float: right;
}
.container .sort{
	border:solid #2c462b medium;
	height: 40px;
	background-image: url(../images/topics-1-background.png);
}
.container .submit_button{
	background-color: #67b2ec;
}