.row {
margin-left: -20px;
}
.marginTop20 {
margin-top: 20px;
}
.span3 {
width: 230px;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 10px;
}
.img-rounded {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
img {
width: auto\9;
height: auto;
max-width: 100%;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}
.marginTop10 {
margin-top: 10px;
}
.text-center {
text-align: center;
}

