body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
a,li,ul{
	text-decoration: none;
	color: inherit;
	list-style: none;
}
body{
	background: url("../images/bg.gif") #f0f5ef repeat-x scroll 0 0;
}
.toolbar{
	height: 120px;
}
#loginarea{
height: 37px;
}
#nav  ul{
	margin-top: 20px;
	margin-bottom: 20px;
}
#login,#nav{
   width: 960px;
   margin-left: auto;
   margin-right: auto;

}
#login #welcome,#login a{
	padding-right: 24px;
}

#loginarea #welcome{
	float: left;
}
#login form{
	float: right;
}
#nav .nav-logo{
	width: 350px;
	height: 71px;
	float: left;
	margin-top: 20px;
	
}

#nav .nav-logo a{
display: block;
width: 120px;
height: 71px;
background: url(../images/logo.png) no-repeat center;
float: left;
}

#logo-text{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    float: right;

}


#nav ul{
	float: right;
	

}
#nav ul li{
	text-decoration: none;
	display: inline;
	line-height: 71px;
}

#pic-wall{
     margin-left: auto;
     margin-right: auto;
	clear: both;
	background-image: url(../images/pic-wall.jpg);
	width: 960px;
	height: 280px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#pic-wall h1,#pic-wall h2,#pic-wall h3{
	position: absolute;
	left: 15%;
	top: 20px;
}

#pic-wall h2{
	
	top: 80px;
}
#pic-wall h3{
	
	top: 120px;
	
}


#footer{

	height: 200px;
	clear: left;
}
#footer .boxes-outer{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#footer .boxes{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 100%;
	height: 200px;
	float: left;

}
#footer .box-1{
    width: 33%;
    height: 180px;
    float: left;
    margin-right: 0.3%;

}
#footer .box-inner{
	padding: 10px 10px;
	text-align: center;
}
#footer .box-inner span{
   padding: 0 30px;

}
#footer .box-inner-list{
padding: 0 10px;
}
#footer .box-inner-list li{
list-style: none;
margin-top: 10px;
}
#footer .box-inner-button{
margin-top: 10px;
width: 120px;
margin-right: auto;
margin-left: auto;
line-height: 30px;
padding: 0 0;
}
#footer .box-inner-button a{
	padding:10px 28px;
	margin: 0 0;
}
#footer .box-inner-weibo,#footer .box-inner-weixin{

	background-repeat: no-repeat;
	width: 75px;
	height: 74px;
	margin: 10px auto;
}
#footer .box-inner-weibo{

	background-image: url(../images/weibo.png);
}
#footer .box-inner-weixin{
    
	background-image: url(../images/weixin.jpg);
}

div.clear{
	clear: both;
}
#content{
width: 960px;
height: auto;
margin-left: auto;
margin-right: auto;
}



